.user-input {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;

  .numbers, .back, .enter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 32px;
    cursor: pointer;
    &:disabled {
      cursor: not-allowed
    }
  }
  
  .numbers {
    background-color: #455EB5;
    border-color: #455EB5;
  }
  .back {
    background-color: rgb(216, 67, 67);
    border-color: rgb(216, 67, 67);
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .enter {
    background-color: rgb(98, 182, 98);
    border-color: rgb(98, 182, 98);
    grid-column-start: 3;
    grid-column-end: 6;
  }
}