/* You can add global styles to this file, and also import other style files */
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  height: 100vh;
}
 p {
  margin-top: 10px;
  margin-bottom: 10px;
 }
 .title {
  font-size: 48px;
  font-weight: bold;
  margin: 40px 0;
  color: #455EB5;
  text-align: center;
}
 .primary {
  color: #455EB5;
  font-weight: 900;
  font-size: 48px;
 }
 button {
  &:disabled {
    opacity: 0.8;
  }
 }
